<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="/css/semantic.min.css">
        <link rel="stylesheet" href="/css/themse.css">

    </head>
    <body>
        <section class="secondary pointing ui menu">
            <div class="container">
                <a class="left header item ui small image" href="/">
                    <img src="/images/imod/colorsignature_lg.png" alt="{{ site.name }}">
                </a>
                <div class="left menu">
                    <a class="item" href="/blog">
                        blog
                    </a>
                    <a class="item" href="/team">
                        team
                    </a>
                    <a class="item" href="https://github.com/IMOD-ASU">
                        <i class="github icon"></i>
                        github
                    </a>
                </div>
            </div>

        </section>

        {{ content }}

    </body>
</html>
